.spinner {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spin-wheel {
  width: 300px;
  height: 300px;
  background-color: #ff5722;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 3s ease-in-out;
}

.spin {
  animation: spin-animation 3s infinite linear;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-button {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.result-text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
.h1 {
  color: white !important;
  text-align: center !important;
}